@import 'config';
@import 'utility';



/* menu classes */
.menu-popup{
    background-color: $White;
    height: 100vh;
    width: 50%;
    box-shadow: 0px 5px 5px rgb(69, 60, 60);
    position: absolute;
    left: 0;
    top: 0;
    padding: 2rem 1rem;
    display: flex;
    align-items: flex-start;
    transform: translateX(-100%); 
    transition: transform 400ms ease-in;
    gap: 3rem;
    flex-direction: column;
    z-index: 4;
}
.links {
    display: none;
}
.links-sidebar {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.menu-popup-active {
    transform: translateX(0);
}

.profile {
    align-self: center;
    img {
        width: 30px;
        border-radius: 50%;
    }
    img:hover {
        border: 2px solid $Orange;
    }
}




/* main layout */
.container {
    max-width: 1000px;
    margin: 0 auto;
    .header {
        padding: 1rem;
        display: flex;
        align-items: center;

        .menu{
            margin-right: .8rem;
        }

        .cart {
            margin-left:  auto;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            position: relative;

            .cart-box {
                position: relative;
                .cart-img {
                    width: 30px;
                }

                .item-taken {
                    position: absolute;
                    top: -.5rem;
                    right: 0;
                    font-size: .7rem;
                    background-color: $Orange;
                    border-radius: 50%;
                    padding: .0em .5em;
                    color: white;
                    display: none;
                    
                }

                .item-taken-active {
                    display: inline-block;
                }
            }



            .cart-container {
                display: flex;
                gap: 1rem;
                flex-direction: column;
                position: absolute;
                right: -2rem;
                top: 3rem;
                width: 380px;
                height: auto;
                border-radius: 10px;
                z-index: 4;
                padding: 1rem;
                background-color: $Light-grayish-blue;
                box-shadow: 0 2px 2px rgb(96, 91, 91);
                display: none;

            
                .cart-unfill {
                    display: grid;
                    place-content: center;
                    padding: 2em 0;

                }

                .cart-fill {
                    display: flex;
                    gap: 1rem;
                    flex-direction: column;
                    justify-content: space-between;
                    display: none;
                    .text-delete {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        color: $Grayish-blue;
                        img {
                            border-radius: 10px;
                            width: 50px;
                        }

                        .delete {
                            margin-left: auto;
                            border-radius: 0;
                            width: 20px;
                        }

                        .total {
                            font-weight: 700;
                            color: $Very-dark-blue;
                        }


                    }

                    .checkout {
                        background-color: $Orange;
                        width: 100%;
                        padding: .8em;
                        text-align: center;
                        color: white;
                        border-radius: 10px;
                        font-weight: 700;
                    }
                    .checkout:hover,.checkout:focus-within,.checkout:active {
                        opacity: 50%;
                    }

                   
                }
                .cart-fill-active {
                    display: flex;
                }
                .cart-unfill-unactive {
                    display: none;

                }
            }

            .cart-popup {
                display: flex;
            }
        }
    }
    .main {

        .slide-container {
            position: relative;

            .btn {
                background-color: $White;
                position: absolute;
                box-shadow: 0 0px 5px rgb(61, 58, 54);
                padding: .6em;
                border-radius: 50%;
                text-align: center;
            }
    
            .next {
                top: 50%;
                z-index: 2;
                right: 4%;
            }
            .prev {
                top: 50%;
                z-index: 2;
                left: 4%;
            }
    
            .slide {
                display: none;   

                img {
                    border-radius: 20px;
                }
            }
            
            .slide-active {
                display: block;
            }

            .nav-slide {
                display: none;
            }
        }
        .section-2 {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
           

            .offer {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    display: flex;
                    gap: 1rem;
                }
            }

            .count-item {
                display: flex;
                flex-direction: column;
               

                .plus-minus {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: .5em 1em;
                    background-color: $Light-grayish-blue;
                }
                .submit {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    background-color: $Orange;
                    padding: .8rem;
                    justify-content: center;
                    color: white;
                    border-radius: 10px;
                }
                .submit:hover,.submit:focus-within {
                    opacity: 70%;
                }
            }
        }
    }
}


@import 'deskopTablet';
